div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}
.translated{
    transform:perspective(15px) translateZ(-10px); /* activation of 3rd axis */
}
.scaled{
    margin-left: 200px;
    transform:perspective(350px) scaleZ(4) rotateX(15deg) rotateY(30deg);
}